<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>在线影院网站</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">

</head>
<body>

<div th:replace="system/common/commons.html::topBar"></div>


<!-- main-area -->
<main>

    <!-- slider-area -->
    <section class="slider-area slider-bg" data-background="img/banner/s_slider_bg.jpg">
        <div class="slider-active">
            <div class="slider-item">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-0 order-lg-2">
                            <div class="slider-img text-center text-lg-right" data-animation="fadeInRight"
                                 data-delay="1s">
                                <img src="img/banner/slider_img01.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="banner-content">
                                <h2 class="title" data-animation="fadeInUp" data-delay=".4s">在线
                                    <span>影院</span></h2>
                                <div class="banner-meta" data-animation="fadeInUp" data-delay=".6s">
                                    <ul>
                                        <li class="quality">
                                            <span>高清4 K</span>
                                            <span>HD</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
    <!-- slider-area-end -->

    <!-- up-coming-movie-area -->
    <section class="ucm-area ucm-bg2" data-background="img/bg/ucm_bg02.jpg">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title title-style-three text-center text-lg-left">
                        <span class="sub-title">Current popular movies</span>
                        <h2 class="title">当前热门的电影</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ucm-nav-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tvShow-tab" data-toggle="tab" href="#tvShow" role="tab"
                                   aria-controls="tvShow" aria-selected="true">电 影</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tvShow"  aria-labelledby="tvShow-tab">
                    <div class="ucm-active owl-carousel" >
                        <div class="movie-item mb-50" th:each="film : ${filmList}">
                            <div class="movie-poster">
                                <a th:href="@{/toFilmDetail(id=${film.getId()})}"><img th:src="${film.getImage()}" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="top">
                                    <h5 class="title"><a th:href="@{/toFilmDetail(id=${film.getId()})}">[[${film.getTitle()}]]</a></h5>
                                    <span class="date">[[${film.getReleaseTime()}]]</span>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <span class="quality" th:if="${film.getDefinition() == '1'}">480P</span>
                                            <span class="quality" th:if="${film.getDefinition() == '2'}">720P</span>
                                            <span class="quality" th:if="${film.getDefinition() == '3'}">1080P</span>
                                            <span class="quality" th:if="${film.getDefinition() == '4'}">4K</span>
                                        </li>
                                        <li>
                                            <span class="duration"><i class="far fa-clock"></i> [[${film.getPlayTime()}]] 分钟</span>
                                            <span class="rating"><i class="fas fa-thumbs-up"></i> [[${film.getScore()}]]</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- up-coming-movie-area-end -->

    <!-- gallery-area -->
    <div class="gallery-area position-relative">
        <div class="gallery-bg"></div>
        <div class="container-fluid p-0 fix">
            <div class="row gallery-active">
                <div class="col-12"  th:each="banner : ${bannerList}">
                    <div class="gallery-item">
                        <a th:href="${banner.getUrl()}">
                            <img th:src="${banner.getImage()}" th:alt="${banner.getTitle()}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-nav"></div>
    </div>
    <!-- gallery-area-end -->

    <!-- services-area -->
    <section class="services-area services-bg-two" data-background="img/bg/services_bg02.jpg">
    </section>
    <!-- services-area-end -->


</main>
<!-- main-area-end -->


<div th:replace="system/common/commons.html::bottomBar"></div>



</body>
</html>
